* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    background: url(https://wallpaper.dog/large/17058391.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* Main Grid Layout Styles */

.header {
    grid-area: hd;
}
.menu {
    grid-area: menu;
}

.header,
.menu {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;

}

.main {
    grid-area: main;
    margin: 0;
}

.page-info {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: justify;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    margin: 0 11px;
    font-family: "IBM Plex Sans", sans-serif;
}

.grid-container {
    display: grid;
    gap: 1em;
    grid-template-areas:
        "hd"
        "menu"
        "main";
    text-align: center;
    margin-bottom: 8em;
}

form {
    display: flex;
    flex-flow: row;
    padding: 1rem;
    align-items: center;

}

.menu button {
    color: black;
    background-color: #65ff00;
    font-family: "Audiowide", sans-serif;
    border-radius: 8px;
    margin-top: 5%;
    font-size: 1rem;
}

.menu input {
    border-radius: 10px;
    font-size: 1em;
}

body {
    font-family: "Audiowide", sans-serif;
}



.card {
    margin: 0 2em;
    display: grid;
    grid-template-rows: auto;
    gap: 1em;
}
.characterDiv {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 1em;
    align-content: center;
    padding: 1em;
    border-radius: 10px;
    border: 10px solid black;
}

.characterDiv img {
    max-width: 100%;
    width: 50%;
}

ul {
    list-style: none;
    color: white;
    text-align: justify;
    line-height: 1.5em;
    font-size: medium;
    border: 1px solid white;
    box-shadow: 1px 0px 9px 3px #65ff00;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.characterDiv h2 {
    color: rgb(101, 255, 0);
    font-size: 2rem;
    line-height: 2em;
    box-shadow: 1px 1px 6px 3px;
    border-radius: 10px;
}



.page-info a:link,
.page-info a:visited {
    color: #65ff00;
}

.page-info a:hover {
    color: white;
}


/* Media Queries */

@media (min-width: 500px) {
    .grid-container {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "hd menu"
            "main main"
            "main main";
            padding: 1em;

    }


form {
    display: flex;
    flex-flow: column;
    padding: 30px;


}

.page-info {
    display: flex;
    flex-flow: column;
    font-size: larger;

}

.characterDiv {
    margin: 0;
}
    
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header{
    font-size: 2em;
}



}


